# ignore the files with the following extensions
.snakemake
.log
.temp
*.swp
.Rhistory
.DS_Store
logs/

# ignore the following folders
data/output/
data/ref/
output/
*.png
degs-*.csv
test.csv
Rplots.pdf
.RData